<div class="folders-container">


  <h1>Folders</h1>
<!--<p class="folders-none" *ngIf="!(folders | async) ">Add new folder!</p>-->
  <p class="folders-none" *ngIf=" !foldersN || foldersN.length==0  ">Add new folder!</p>
 <div class="folders" >

<!--   <div class="folder" *ngFor="let folder of folders | async " matRipple (click)="selectFolder(folder.folderId)">-->
<!--     <p>-->
<!--       {{folder.folderName}}-->
<!--     </p>-->
<!--     <hr>-->
<!--   </div>-->

   <div  *ngFor="let folder of foldersN  " >
    <div class="folder" matRipple  (click)="selectFolder(folder.folderId)">
     <p class="folder-name"  >
       {{folder.folderName}}
     </p>
     <button class="button-folder-delete" mat-icon-button  (click)="deleteFolder(folder.folderId,$event)" >
       <mat-icon>delete</mat-icon>
     </button>

    </div>
     <hr class="folder-separator">
   </div>

 </div>




<button class="folders__add-button" mat-fab color="success" (click)="newFolder()">
    <mat-icon>add</mat-icon>
</button>

</div>
