.folders-container{
    width: 100%;
    height: 100% ;
    display: flex;
    flex-direction: column;
    border-right-style: solid;
    border-width: 1px;
  /*border-color: #EEEEEE;*/
  /*padding-right: 1px;*/
  padding-left: 4px;
    /* align-items: flex-start; */

}

.folders-none{
    text-align: center;
    align-self: center;
    margin: auto 5px 5px 5px;
}

.folders  {
    overflow: auto ;
}

.folder{
  display: flex;
  margin: 3px 12px 1px 3px;

}

.folder-name{
  /*margin-right: 15px;*/
  font-size: 20px;
  margin: 20px 0 20px 5px;
  margin-right: auto;
  display: inline;

}

.button-folder-delete{
    margin-left: auto;
    align-self: center;
  display: none;
}

.folder:hover .button-folder-delete{
  margin-left: auto;
  align-self: center;
  display: inline;
}




.folder-separator{
  height: 1px;
  border: none;
  background-color: #333;
  margin : 0px 12px 0px 1px;
}



.folders__add-button{
    /* align-self: flex-start; */
    /* justify-content: flex-end; */
    align-self: flex-end;
    /* margin-top: auto; */
    margin : auto 10px 10px 10px;

}

.mat-button.mat-success{
    background-color: #334257;
}
