<div class="notes-container" >



<!--  <p class="notes-none" *ngIf="!(notes | async) ">Add notes!</p>-->
  <div class="notes" >

<!--    <div class="note" *ngFor="let note of notes | async " matRipple>-->
<!--      <p>-->
<!--        {{note.noteName}}-->
<!--      </p>-->
<!--      <hr>-->
<!--    </div>-->
    <p class="notes-none" *ngIf="notesN.length===0 ">Add notes!</p>
    <div class="note" *ngFor="let note of notesN  " matRipple (click)="selectNote(note.noteId,folderId)">
      <p>
        {{note.noteName}}
      </p>
      <hr>
    </div>

  </div>




  <button class="notes__add-button" mat-fab color="success" (click)="newNote()">
    <mat-icon>add</mat-icon>
  </button>
</div>


