.name-form{
    /* margin-left: 200px; */
    /* height: 400px;
    width: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  

:host ::ng-deep button.mat-raised-button.mat-primary{
    background-color: #979797;
}